&pio {
	pd2164_tp_spi_mode: clk_mode_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO97__FUNC_SPI4_CLK>,
				<PINMUX_GPIO13__FUNC_SPI4_MO>,
				<PINMUX_GPIO12__FUNC_SPI4_MI>;
			drive-strength = <3>;
		};
	};
};

&spi4 {
	status = "okay";
	vts_device@0 {
		compatible = "vivo,ts-spi";
		status = "okay";
		reg=<0>;
		spi-max-frequency = <4800000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pd2164_tp_spi_mode>;
		nt36672 {
			compatible = "novatek,NVT-ts-spi-v2";
			status = "ok";

			vts-type=<0>;
			vts-ic-number=<81>;
			spi-max-frequency = <9600000>;	//4800000,9600000,15000000,19200000
			novatek,reset-gpio = <&pio 186 0x00>;
			novatek,irq-gpio = <&pio 14 0x2001>;
			novatek,cs-gpio = <&pio 98 0x00>;
			novatek,miso-gpio = <&pio 12 0x00>;
			sensor-test-key="com.nttouchscreen.mptest:MainActivity:android.intent.action.novatek:0:testResult";
			lcm-noise-test-key="com.nt36xxxtouchscreen.deltadiff:MainActivity:null:null:null";
			rawdata-test-key="com.nttouchscreen.getdata:MainActivity:null:null:null";
			rf-noise-test-key="com.nt36xxxtouchscreen.deltadiff:BspTest:android.intent.action.nvtdeltadiff:0:testResult";
			
			novatek,swrst-n8-addr = <0x03F0FE>;

			//vts-incell-panel = <&dsi_nt36675_tm_fhdplus_video &dsi_ft8756_truly_fhdplus_video &dsi_nt36672c_tm657_dsc_fhdplus_video>;

		};
		
		ili_9882n {
			status = "okay";
			compatible = "tchip,ilitek";
			vts-type=<0>;
			vts-ic-number=<91>;
			spi-max-frequency = <9600000>;
			touch,reset-gpio = <&pio 186 0x00>;
			touch,irq-gpio = <&pio 14 0x2001>;

			sensor-test-key="com.ilitek.touchscreen.tptest3X:MP3XActivity:com.ilitek.touchscreen.action.tptest:0:ILITEK_TpTestResult";
			lcm-noise-test-key="com.ilitek.touchscreen.noisev2:MainActivity:null:null:null"; 
			rawdata-test-key="com.ilitek.touchscreen.noisev2:DataShowActivity:null:null:null";
			rf-noise-test-key="com.ilitek.touchscreen.noisev2:BspTestActivity:com.ilitek.touchscreen.action.noisetest:0:ILITEK_TpTestResult";
			//vts-incell-panel=<&dsi_pd2034_tm_ili9882n_hdplus_video &dsi_pd2034_inx_ili9882n_hdplus_video>;
		};

		hx83112 {
			compatible = "himax,hx83112-spi-v2";
			status = "ok";
			vts-type=<0>;
			vts-ic-number=<101>;
			spi-max-frequency = <9600000>;	//4800000,9600000,15000000,19200000
			himax,rst-gpio = <&pio 186 0x00>;
			himax,irq-gpio = <&pio 14 22 0x2001>;
			himax,panel-coords = <0 1080 0 2408>;
			himax,display-coords = <0 1080 0 2408>;
			himax,tx-sensors = <18>;
			himax,rx-sensors = <36>;

			sensor-test-key="com.himax.mpap:MainActivity:android.intent.action.himax:0:testResult";
			lcm-noise-test-key="com.ln2.himaxtouch:RawdataRecord.HoppingNoiseGet:null:null:null";
			rawdata-test-key="com.ln2.himaxtouch:DataShowActivity:null:null:null";
			rf-noise-test-key="com.ln2.himaxtouch:BspTestActivity:android.intent.action.himax:0:testResult";
		};

		ft8719 {
			compatible = "focaltech,ft8719_v2";
			status = "okay";

			vts-type=<0>;
			vts-ic-number=<36>;
			spi-max-frequency = <6000000>;	//4800000,9600000,15000000,19200000
			focaltech,reset-gpio = <&pio 186 0x00>;
			focaltech,irq-gpio = <&pio 14 0x02>;
			//focaltech,cs-gpio = <&pio 21 0x00>;
			focaltech,max-touch-number = <10>;
			focaltech,display-coords = <0 0 1080 2408>;

			sensor-test-key="com.focaltouchscreen.sensortest:MainActivity:com.focaltouchscreen.sensortest:0:focal_test_result";
			lcm-noise-test-key="com.focaltech.deltadiff:MainActivity:null:null:null";
			rawdata-test-key="com.focaltech.deltadiff:DataActivity:null:null:null";
			rf-noise-test-key="com.focaltech.deltadiff:BspTestActivity:com.focaltech.deltadiff:0:testResult";
		};

		ft8720 {
			compatible = "focaltech,ft8756_v2";
			vts-type=<0>;
			vts-ic-number=<38>;
			spi-max-frequency = <9600000>;	//4800000,9600000,15000000,19200000
			focaltech,ic_name = "ft8720";
			focaltech,reset-gpio = <&pio 186 0x00>;
			focaltech,irq-gpio = <&pio 14 0x02>;
			focaltech,cs-gpio = <&pio 98 0x00>;
			focaltech,max-touch-number = <10>;
			focaltech,display-coords = <0 0 1080 2408>;
			focaltech,vts-gesture-separate = <1>;
			focaltech,vts-reset-poweroff = <1>;

			sensor-test-key="com.focaltouchscreen.sensortest:MainActivity:com.focaltouchscreen.sensortest:0:focal_test_result";
			lcm-noise-test-key="com.focaltech.deltadiff:MainActivity:null:null:null";
			rawdata-test-key="com.focaltech.deltadiff:DataActivity:null:null:null";
			rf-noise-test-key="com.focaltech.deltadiff:BspTestActivity:com.focaltech.deltadiff:0:testResult";
		};
	};

	tp_module1 {
		compatible = "vivo,touch-panel-module";
		vts-ic-number=<91>;
		vts-type=<0>;
		vts-lcmid=<16>;// CPD2117 TMG5.5 incell ILI7807S 1211770
		vts-dimention-x=<1080>;
		vts-dimention-y=<2408>;
		vts-tx-sensors=<16>;
		vts-rx-sensors=<36>;
		vts-incell=<1>;
 		vts-need-caliberation=<0>;
 		vts-virtual-proximinity=<0>;
 		vts-long-press=<0>;
		vts-module-vendor=<0xF0>;
		vts-no-flash=<1>;
		vts-gesture=<1>;
		vts-game-mode=<1>;
		vts-game-save-power=<1>;
	};

	tp_module2 {
		compatible = "vivo,touch-panel-module";
		vts-ic-number=<91>;
		vts-type=<0>;
		vts-lcmid=<65>;// CPD2117 0CH DJI ILI7807S 1211799
		vts-dimention-x=<1080>;
		vts-dimention-y=<2408>;
		vts-tx-sensors=<16>;
		vts-rx-sensors=<36>;
		vts-incell=<1>;
 		vts-need-caliberation=<0>;
 		vts-virtual-proximinity=<0>;
 		vts-long-press=<0>;
		vts-module-vendor=<0xF0>;
		vts-no-flash=<1>;
		vts-gesture=<1>;
		vts-game-mode=<1>;
		vts-game-idle-time=<10>;
		vts-game-save-power=<1>;
	};

	tp_module3 {
		compatible = "vivo,touch-panel-module";
		vts-ic-number=<91>;
		vts-type=<0>;
		vts-lcmid=<18>;// CPD2117 TMG5.5 incell ILI7807S 1211807
		vts-dimention-x=<1080>;
		vts-dimention-y=<2408>;
		vts-tx-sensors=<16>;
		vts-rx-sensors=<36>;
		vts-incell=<1>;
 		vts-need-caliberation=<0>;
 		vts-virtual-proximinity=<0>;
 		vts-long-press=<0>;
		vts-module-vendor=<0xF0>;
		vts-no-flash=<1>;
		vts-gesture=<1>;
		vts-game-mode=<1>;
		vts-game-save-power=<1>;
	};

	tp_module4 {
		compatible = "vivo,touch-panel-module";
		vts-ic-number=<38>;
		vts-type=<0>;
		vts-dimention-x=<1080>;
		vts-dimention-y=<2408>;
		vts-tx-sensors=<16>;
		vts-rx-sensors=<36>;
		vts-incell=<1>;
		vts-gesture=<1>;
		vts-need-caliberation=<0>;
		vts-virtual-proximinity=<0>;
		vts-long-press=<0>;
		vts-module-vendor=<0xC0>;
		vts-no-flash=<1>;
		vts-game-mode=<1>;
		vts-game-idle-time=<10>;
		vts-report-timestamp=<1>;
		vts-lcmid=<131>;// CPD2117 FT8720 CSOT incell 1211794
		vts-no-flash-unique-code=<1>;
		vts-game-save-power=<1>;
	};
};
